/*
Theme Name: Uncode Child
Description: Child theme for Uncode theme
Author: Undsgn™
Author URI: http://www.undsgn.com
Template: uncode
Version: 1.0.0
Text Domain: uncode
*/

@media (min-width: 960px) {
    body[class*=hmenu-] .menu-borders .navbar-nav + .navbar-nav-last > *:first-child {
        border: none;
    }

    body[class*=hmenu-] .logo-container {
        padding-left: 18px !important;
    }

    .kosmmunity h2 {
        text-decoration: underline;
    }

    .menu-container {
        height: 50px !important;
    }

    .col-lg-0.logo-container {
        padding: 5px 0;
    }

    .logo-container {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    #menu-kosma-top-navigation ul, #menu-kosma-top-navigation-vi ul {
        /*display: block!important;*/
    }

    #menu-kosma-top-navigation > li > ul, #menu-kosma-top-navigation-vi > li > ul {
        width: 540px !important;
        height: 388px !important;
        max-width: 500px !important;
        margin: 0 !important;
        padding: 0px 0px 0px 0px !important;
        background-color: white;
        -webkit-box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.75);
        -moz-column-count: 2;
        -moz-column-gap: 50%;
        -webkit-column-count: 2;
        -webkit-column-gap: 50%;
        column-count: 2;
        column-gap: 50%;
        -moz-column-fill: auto;
        column-fill: auto;
        /*position: relative!important;*/
    }

    #menu-kosma-top-navigation > li:nth-child(2) > ul, #menu-kosma-top-navigation-vi > li:nth-child(2) > ul {
        left: 127px !important;
    }

    #menu-kosma-top-navigation ul a, #menu-kosma-top-navigation-vi ul a {
        color: white !important;
        font-size: 14px !important;
    }

    #menu-kosma-top-navigation ul a:hover, #menu-kosma-top-navigation-vi ul a:hover {
        color: black;
        font-weight: bold;
        font-size: 14px !important;
    }

    #menu-kosma-top-navigation > li > ul > li, #menu-kosma-top-navigation-vi > li > ul > li {
        width: 80%;
        display: block;
        position: relative;

    }

    .kosma_device_menu {
        break-before: always;
        -webkit-column-break-before: always;
        -moz-column-break-before: always;
        -ms-column-break-before: always;
        -o-column-break-before: always;
    }

    #menu-kosma-top-navigation > li > ul > li > ul, #menu-kosma-top-navigation-vi > li > ul > li > ul {
        position: relative !important;
        width: 250px;
        margin: 0 !important;
        padding: 0 !important;
    }

    .kosma-next-section {
        top: -100px;
    }

    .from-the-gym {
        width: 400px;
    }

    .from-the-gym span {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        left: -15px;
        top: 120px;
        position: absolute;
    }

    .to-the-street {
        width: 400px;
    }

    .to-the-street span {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        position: absolute;
        left: -65px;
        top: 405px;
    }

    .from-the-office {
        width: 400px;
    }

    .from-the-office span {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }

    .to-the-studio {
        width: 400px;
    }

    .to-the-studio span {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }

    .kosma-item-social {
        padding: 0px 0px 0px 0px !important;
    }
    .cart_item .product-name .variation{
        display: none;
    }
    .kosma-item-about {
        padding-left: 0px !important;
    }
    .kosma-item-about span{
        text-align: left;
    }

    .kosma-item-about .style-light {
        padding-left: 0em !important;
    }

    .uncode-cart .uncode-cart-dropdown {
        border-left: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
    }

    #customer_login {
        display: table;
        width: 100%;
    }

    #customer_login .u-column1.col-1{
        display: inline-block;
        float: left;
        width: 50%;
        padding: 10px;
    }

    #customer_login .u-column2.col-2{
        display: inline-block;
        width: 50%;
        padding: 10px;
        margin-top: 0;
    }

    /* header navigation font color */

    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a {
        color: #ffffff !important;
    }
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:hover,
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:focus {
        color: #ffffff !important;
    }

    .style-dark-override.is_stuck.menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a {
        color: #000000 !important;
    }
    .style-dark-override.is_stuck.menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:hover,
    .style-dark-override.is_stuck.menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a:focus {
        color: #000000 !important;
    }
}

/*ALL SCREEN*/
#menu-kosma-secondary-menu a {
    color: white;
}

body[class*=hmenu] .uncode-cart a i.fa:not(.fa-dropdown) {
    top: 3px;
    font-size: 19px !important;
}

body[class*=hmenu] .menu-icons i:not(.fa-dropdown) {
    top: 3px;
    font-size: 19px;
    width: 1em;
}

.wpb_raw_code {
    margin-top: -5px !important;
}

.kosma-load-more {
    margin-top: -150px !important;
}

.kosma-what-we-got {
    margin-top: -10px !important;
}

.kosmmunity-margin-top {
    margin-top: 20px !important;
}

.kosma-heading-margin {
    margin-top: 0px !important;
}

.kosma-slide-big-heading {
    margin-top: 0px !important;
}

.kosma-slide-big-heading > div > span > a {
    color: white;
}

.kosma-slide-small-heading {
    margin-top: 0px !important;
}

.kosma-underline span {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.kosma-section2-slide-row {
    float: left;
}

.kosma-section2-slide-row-1 {
    text-align: right;
    font-size: 20px;
    color: white;
    width: 42%;
    padding-top: 19px;
}

.kosma-section2-slide-row-2 {
    text-align: center;
    font-size: 20px;
    color: white;
    width: 16%;

}

.kosma-section2-slide-row-2 img {
    height: 130px;
}

.kosma-section2-slide-row-3 {
    text-align: left;
    font-size: 14px;
    color: white;
    width: 42%;
    padding-top: 19px;
}

.nav-tabs > li.active a {
    border-bottom: 2px solid black !important;
    color: black !important;
}

.nav-tabs > li.active span {
    font-size: 14px;
    font-weight: bold;
}

.kosma-menu-group a {
    font-size: 17px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    border-bottom: 1px solid #cbcbcb !important;
}

.kosma-menu-group a i {
    display: none !important;
}

#colophon > div.row-container.style-color-jevc-bg.footer-center.footer-last {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

#wpcf7-f49211-o1 {
    margin-top: 10px;
}

.kosma-footer .row-container.boomapps_vcrow {
    margin-top: 15px !important;
}

.text-color-xsdn-color {
    text-align: center;
}

.kosma-item-social .uncell.boomapps_vccolumn.no-block-padding {
}

#wpcf7-f49211-o1 > form {
    margin-bottom: 4em;
}

#wpcf7-f49211-o1 > form > p > span > input, #wpcf7-f49211-o2 > form > p > span > input {
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    background: black;
    width: 100%;
    text-align: center;
}

.wpcf7-response-output {
    width: 440px;
    margin: 2em 0.5em 1em 0.1em !important;
    padding: 0.2em 0em !important;
}

.variations .label {
    display: flex !important;
    align-items: center !important;
}

.variations .label #picker_pa_color {
    margin-left: 5em;
}

.variations .label #picker_pa_size {
    margin-left: 5.8em;
}

.single_variation_wrap {
    margin-top: 2em;
}

.kosma-menu-group > a:hover {
    background-color: #FFFFFF !important;
}

.kosma-enter {
    display: none;
}

.kosma-splash {
    margin-top: -605px;
    padding-bottom: 324px;
}

.kosma-splash .uncode-single-media {
    left: 50%;
    margin-left: -40px;
}

.kosma-enter span {
    padding-left: 410px;
}

.kosma-footer .icon-box {
    margin-top: -25px !important;
}

#picker_pa_color .select-option {
    border-radius: 50px !important;
}

#picker_pa_color .select-option a {
    border-radius: 50px !important;
}

div.swatch-wrapper.selected {
    border: 2px solid black !important;
    padding: 1px;
}

#picker_pa_size .select-option {
    border-radius: 50px !important;
}

#picker_pa_size .select-option a {
    border-radius: 50px !important;
    text-indent: 0px !important;
    text-align: center;
    padding-top: 5px !important;
}

#picker_pa_size div.swatch-wrapper.selected {
    border: 2px solid black !important;
    background: black;
    color: #ffffff;
    padding: 1px;
}

#picker_pa_size div.swatch-wrapper.selected a {
    background: black !important;
    color: #ffffff;
    padding: 1px;
}

#picker_pa_size div.swatch-wrapper:hover {
    border: 2px solid black !important;
    background: black;
    color: #ffffff;
    padding: 1px;
}

#picker_pa_size div.swatch-wrapper:hover a {
    background: black !important;
    color: #ffffff;
    padding: 1px;
}

/* Spin Buttons modified */
input[type="number"].mod::-webkit-outer-spin-button,
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active {
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

.kosmunity-section {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 20px;
    height: 315px;
    margin: 0px 27px;
}

.kosmunity-name {
    font-size: 17pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.kosmunity-pronunc {
    font-weight: bold;
}

.kosmunity-type {
    font-style: italic;
}

.kosmunity-mean {
}

.kosmunity-explore {
    float: right;
    font-size: 13pt;
    font-weight: bold;
    text-transform: uppercase;
}

.kosmunity-explore i {
    padding-left: 6px;
}

/*KOSMA FILTER*/
.kosma-filter {

}

.size-filter {
    float: left;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 9px;
}
.size-title,.color-title{
    width:50px;
}

.other-filter {
    float: right;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
}

.color-filter {
    float: left;
    margin-top: 7px;
}

.size-title {
    float: left;
    line-height: 33px;
    font-weight: bold;
}

.size-item {
    float: left;
}

.size-item a {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-left: 7px;
    padding-top: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.size-item a:hover {
    background-color: black;
    color: white;
}

.size-item a.active {
    background-color: black !important;
    color: white !important;
}

.color-title {
    float: left;
    line-height: 33px;
    font-weight: bold;
}

.color-item {

    float: left;
}

.color-item a {
    display: block;
    width: 32px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    float: left;
    text-align: center;
}
.kosma-color-item{
    border: 1px solid #ccc !important;
    padding: 1px;
    border-radius: 50px !important;
    float: left;
    margin-left: 7px !important;
    margin-bottom: 5px;
}
.kosma-color-item:hover,.kosma-color-item.selected{
    border: 1px solid black !important;
}

.order-by {
    float: left;
    margin-left: 7px;
}

.order-by select {
    height: 44px;
    width: 105px;
    padding: 0 0 0 0px;
    margin: 0;
}

.kosma-sort-by {
    border: none;
    color: black;
    font-weight: bold;
}

.kosma-notice {
    background: #f7f7f7;
    padding: 15px 0px 15px 15px;
}

.kosma-notice .row-parent {
    padding-bottom: 0px !important;
}

.kosma-notice .woocommerce-info {
    padding-bottom: 0px !important;
    border: none !important;
}

/*.kosma-checkout-form label[for=billing_first_name],label[for=billing_last_name],label[for=billing_company],label[for=billing_email],label[for=billing_phone],label[for=billing_address_google],label[for=order_comments],label[for=shipping_first_name],label[for=shipping_last_name],label[for=shipping_company],label[for=shipping_company],label[for=shipping_company]{*/
/*display: none!important;*/
/*}*/
/*.kosma-checkout-form label:not([for=createaccount]):not([for=ship-to-different-address-checkbox]):not([for=payment_method_paypal]):not([for=payment_method_stripe]):not([for*=shipping_method]):not([for=payment_method_EG_Onepay_Gateway]):not([for*=wc-stripe-payment]) {
    display: none !important;
}*/

.kosma-checkout-form .wc_payment_method label {
    color: black;
    font-weight: bold;
}
.woocommerce #payment div.payment_box {
  margin: 0px 0px 0px 40px !important; 
}
.kosma_table_cart {
    border: 1px solid black !important;
}

.kosma-swatch-img {
    width: 32px !important;
    min-width: 32px !important;
    height: 32px !important;
}

.kosma-swatch-color {
    margin: 0 !important;
}

.kosma_table_cart thead tr th {
    border-bottom-color: black;
}

.kosma_button {
    margin: 0px;
    border: 1px solid black !important;
    color: black;
    margin-right: 10px;
}

.kosma-checkout-layout {
    padding: 0px !important;
}

.wc-credit-card-form label {
    display: none !important;
}

.kosma-homepage-right-section > div:before {
    content: url('./imgs/path.png');
    height: 81px;
    width: 20px;
    float: left;
    position: relative;
    top: 50px;
    left: -36px;
}

.kosma-logo-footer {
    position: relative;
    top: -639px;
    width: 10%;
}

.kosma-logo-footer img {
    width: 70px;
}

.kosma-shop-women {
    top: -44px !important;
    height: 0px !important;
}

.kosma-shop-women h2 {
    color: white !important;
}

.kosma-shop-women i {
    color: white !important;
}

.kosma-slide-big-heading-left span {
    text-align: left;
}

.kosma-slide-small-heading-left span {
    text-align: left;
}

.kosma-slide-big-heading-right span {
    text-align: right;
}

.kosma-slide-small-heading-right span {
    text-align: right;
}

.search-container-inner {
    cursor: pointer;
}

.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty {
    font-size: 14px !important;
}

input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"] {
    font-size: 14px !important;
    font-family: 'Source Sans Pro', sans-serif; !important;
}

.kosma-footer h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]) {
    font-size: 14px !important;
    font-family: 'Source Sans Pro', sans-serif; !important;
}

.kosma-footer h2:not([class*="fontsize-"]), .h2:not([class*="fontsize-"]) {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif; !important;
}

.kosma-footer input.wpcf7-validates-as-email {
    text-align: center;
    font-size: 12px !important;
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 100 !important;
}

footer .footer-last p {
    font-size: 11px !important;
}
.kosma-item-social .icon-box.icon-inline{
    padding-right: 0px!important;
}
.kosma-footer .row-inner{
    margin-left: 0px!important;
}
.kosma-item-about .style-light {
    padding-left: 0 !important;
}
div.row.single-top-padding.one-bottom-padding.single-h-padding.full-width.row-parent{
    padding-top: 27px!important;
    padding-bottom: 13px!important;
}
.onepage-pagination{
    top: 73% !important;
}
.header-scrolldown:before{
    content: "How are we different?";
    position: absolute;
    width: 200px;
    top: -27px;
    left: -93px;
    font-size: 15pt;
}
.kosma-store a[data-store=en_US]:before{
    content: url("./imgs/enflag.png");
    position: relative;
    left: -8px;
    top: 8px;
}
.kosma-store a[data-store=vi]:before{
    content: url("./imgs/vnflag.png");
    position: relative;
    left: -8px;
    top: 8px;
}
.kosma-my-account i{
    display: none!important;
}
.enflag:before{
    content: url("./imgs/enflag.png");
    position: absolute;
}

.enflag a{
    margin-left: 38px!important;
}
.enflag i{
    display: none!important;
}

.vnflag:before{
    content: url("./imgs/vnflag.png");
    position: absolute;
}
.vnflag a{
    margin-left: 38px!important;
}

.vnflag i{
    display: none!important;
}
.header-wrapper .header-scrolldown {
    display: block!important;
}
.woocommerce-MyAccount-navigation ul{
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.woocommerce-MyAccount-content{
    font-family: 'Source Sans Pro', sans-serif;
}
.woocommerce-MyAccount-content .woocommerce-FormRow--last{
    margin-top: 0px;
}
input[type=radio]{
    width: 19px!important;
    height: 19px!important;
    padding: 0;
}
input[type=radio]:checked:before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.kosma-wecare-last-heading{
    margin-top: 4px!important;
}
.woocommerce-MyAccount-navigation-link--dashboard{
    display: none;
}
.woocommerce-MyAccount-navigation-link--downloads{
    display: none;
}
.kosma-cart{
    display: none;
}
.kosma-cart a{
    color: black;
}
.woocommerce-SavedPaymentMethods.wc-saved-payment-methods{
    list-style: none;
}
.woocommerce-SavedPaymentMethods.wc-saved-payment-methods li{
    width: 20em;
}
.kosma-arrow{
    height: 30px!important;
    position: absolute!important;
    bottom: 0px;
}
.kosma-arrow i{
    position: absolute!important;
    bottom: 7px;
    left:50%;
    color: white !important;

    font-size: 20px!important;
    font-weight: 200!important;
}
.kosma-arrow-men i:after{
    content: 'Shop men athleisure';
    position: absolute;
    width: 250px;
    top: -17px;
    left: -85px;
    font-family: 'Source Sans Pro', sans-serif; !important;
}
.kosma-arrow-women i:after{
    content: 'Shop women performance';
    position: absolute;
    width: 450px;
    top: -17px;
    left: -120px;
    font-family: 'Source Sans Pro', sans-serif; !important;
}
.kosma-my-account{
    padding-left: 0px!important;
    padding-top: 0px!important;
}
.woocommerce-MyAccount-navigation>ul{
    padding-left: 0px;
}
.woocommerce table.my_account_orders .order-actions {
    text-align: center!important;
}
.woocommerce table.my_account_orders .order-actions a{
    text-decoration: underline;
}
.woocommerce table.my_account_orders .order-actions span{
    padding-left:3px;
}
/*.woocommerce table.shop_table .product-total, .woocommerce table.shop_table .product-subtotal, .woocommerce table.shop_table .amount {*/
    /*text-align: left!important;*/
/*}*/
.kosma-return-success{
    color: #000;
}
.kosma-back-to-homepage{
    margin-top:15px;
}
.kosma-hidden-on-desktop{
    display: none;
}


@media (max-width: 425px) {
    #wpcf7-f49211-o1 > form {
        margin-bottom: 4em;
    }

    #wpcf7-f49211-o1 > form > p > span > input {
        border-bottom: 1px solid;
        border-left: none;
        border-right: none;
        border-top: none;
        background: black;
        text-align: center;
    }

    .order-by {
        float: left;
        width: 100%;
        margin-left: 0px
    }

    .other-filter {
        float: left;
    }

    .kosma-second-slider {
        padding-left: 36px !important;
        padding-right: 36px !important;
        padding-bottom: 36px !important;
    }

    .kosma-slide-big-heading-left span {
        text-align: left;
        padding-left: 10%;
        font-size: 29px;
    }

    .kosma-slide-small-heading-left span {
        text-align: left;
        padding-left: 10%;
    }

    .kosma-slide-big-heading-right span {
        text-align: right;
        padding-right: 10%;
        font-size: 29px;
    }

    .kosma-slide-small-heading-right span {
        text-align: right;
        padding-right: 10%;

    }

    #main-logo .navbar-brand img {
        width: 134px;
        height: auto;
        padding-top: 10px;
    }

    .kosma-section2-slide-row-1 {
        text-align: right;
        font-size: 15px;
        color: white;
        width: 42%;
        padding-top: 19px;
    }

    .kosma-section2-slide-row-2 {
        text-align: center;
        font-size: 12px;
        color: white;
        width: 16%;

    }

    .kosma_table_cart .product-size {
        display: none;
    }

    .kosma_table_cart .product-color {
        display: none;
    }

    .wc-proceed-to-checkout .button {
        margin: 0;
        padding: 10px 23px;
    }

    .wpcf7-form {
        display: inline-block;
    }

    .kosma-footer input.wpcf7-validates-as-email {
        text-align: center;
        font-size: 12px !important;
    }

    .wpcf7-mail-sent-ng {
        display: inline-block;
        width: 70%;
    }

    .wpcf7-validation-errors, .wpcf7-not-valid-tip {
        margin-left: 5em !important;
        width: 70%;
    }

    .variations .label {
        display: block !important;
    }

    .variations .label #picker_pa_color {
        margin-left: 0em;
    }

    .variations .label #picker_pa_size {
        margin-left: 0em;
    }

    .kosma-logo-footer {
        display: none;
    }

    .menu-container .logo-container {
        position: relative;
        padding: 4px 36px 4px 36px !important;
        text-align: center;
    }

    .mobile-menu-button {
        padding: 27px 20px 27px 36px;
    }

    .kosma-kommunity .row .uncell {
        display: block!important;
    }
    .kosma-kommunity span{
        text-align: center;
    }
    .kosma_button{
        width:100%!important;
        font-size: 8pt!important;
    }
    .wc-proceed-to-checkout a.checkout-button{
        width: 100%!important;
    }
    .kosma-item-social .uncont{
        text-align: center!important;
    }
    .kosma-footer-item{
        padding-left: 0px!important;
    }
    .kosma-homepage-right-section > div:before {
        display: none;
    }
    .kosma-menu-group a{
        padding: 0px!important;
        margin: 1px 42px!important;
    }
    .kosma-cart{
        position: absolute;top: 10px;font-size: 18pt;
        left: 20px;
        display: block;
    }
    .kosma-cart .badge{
        display: block;
        width: 1.75em;
        height: 1.75em;
        position: absolute;
        color: #fff;
        line-height: 1.9em;
        top: -2px;
        right: -9px;
        border-radius: 100%;
        background-clip: padding-box;
        text-align: center !important;
        letter-spacing: 0.5px;
        font-size: 9px;
        background-color: #0cb4ce;
    }
    .enflag:before{
        margin-left: 34px;
    }
    .vnflag:before{
        margin-left: 34px;
    }
    /*Product detail*/
    #woosvimain{
        width: 78.5%;
        float: left;
    }
    #woosvi_strap > div.svithumbnails.columns-4{
        width: 17.5%;
        float: left;
        margin-left: 9px;
    }
    #woosvi_strap div.svithumbnails.columns-4 a {
        width: 100%!important;
    }
    .woocommerce div.product .product_title, .woocommerce #content div.product .product_title{
        text-align: center;
    }
    .woocommerce div.product .price-container, .woocommerce #content div.product .price-container {
        margin-top: 18px !important;
        text-align: center;
    }
    .variations td.label label{
        float: left;
        width: 50px;
        margin-top: 8px;
    }
    .variations td.label #picker_pa_color{
        float: left;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty {
        display: none!important;
    }
    .single_variation_wrap .woocommerce-variation-add-to-cart{
        text-align: center!important;
    }
    .product_meta{
        display: none;
    }

    div.row-container.product > div > div.row-container.product > div > div > div:nth-child(2) > div > div > div > div > hr:nth-child(4){
        display: none;
    }
    .woocommerce div.product .wootabs .nav-tabs, .woocommerce #content div.product .wootabs .nav-tabs{
        height: 35px!important;
    }
    .nav-tabs > li.active > a {
        padding: 0px 0px 0px 0px;
        margin-left: 35px;
        pointer-events: none;
    }
    .nav-tabs > li.active:first-child > a {
        margin-left: 0px!important;
    }
    .nav-tabs > li > a {
        line-height: normal;
        padding: 0px 0px 0px 0px;
        margin-left: 35px;
    }
    .nav-tabs > li:first-child > a{
        margin-left: 0px!important;
    }

    .nav-tabs > li > a span {
        font-size: 11px;
        font-weight:500!important;
    }
    .nav-tabs > li.active span {
        font-size: 12px;
        font-weight: bold!important;
    }
    .kosma-hidden-on-mobile{
        display: none!important;
    }
    .kosma-hidden-on-desktop{
        display: block;
    }
    .single-product .row-container.product>.row.row-parent{
        padding-bottom: 0px!important;
        padding-top: 10px!important;
    }
    .tab-container {
        margin-top: 0px!important;
        padding: 0 36px 0 36px;
    }
    .kosma-line-on-product-detail{
        margin-bottom: 4px!important;
    }
    #kosma-share-social-product-page{
        left: 50%;
        margin-left: -68px;
        margin-top: 23px;
    }
    div.row-container.row-related{
        border: none;
        padding-top: 12px!important;
        padding-bottom: 5px!important;
    }

    div.row-container.row-related .related-title{
        margin-bottom: 36px!important;
    }
    .product-tab .product-tab-title{
        display: none;
    }
    #comments .woocomments-title{
        display: none;
    }
    .single-product h1{
        font-size: 14pt;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .nav-tabs > li.active > a {
        padding: 0px 0px 0px 0px;
        margin-left: 8px;
        pointer-events: none;
    }
    .nav-tabs > li.active:first-child > a {
        margin-left: 0px!important;
    }
    .nav-tabs > li > a {
        line-height: normal;
        padding: 0px 0px 0px 0px;
        margin-left: 8px;
    }
    .nav-tabs > li:first-child > a{
        margin-left: 0px!important;
    }
    #tab-reviews{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    .main-container .row-inner > div:not([class*=col-md]) {
        padding: 0!important;
    }

    .mobile-menu-button-light .lines, .mobile-menu-button-light .lines:before, .mobile-menu-button-light .lines:after {
        background: #000000 !important;
    }
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a {
        color: #000000 !important;
    }
    .kosma-what-we-got {
        margin-top: 30px !important;
    }
}

@media (min-width: 426px) and (max-width: 960px) {
    #wpcf7-f49211-o1 > form {
        margin-bottom: 4em;
    }

    #wpcf7-f49211-o1 > form > p > span > input {
        border-bottom: 1px solid;
        border-left: none;
        border-right: none;
        border-top: none;
        background: black;
        text-align: center;
    }
    .kosma-slide-big-heading-left span {
        text-align: left;
        padding-left: 27%;
    }

    .kosma-slide-small-heading-left span {
        text-align: left;
        padding-left: 27%;
        font-size: 25px;
    }

    .kosma-slide-big-heading-right span {
        text-align: right;
        padding-right: 27%;
    }

    .kosma-slide-small-heading-right span {
        text-align: right;
        padding-right: 27%;
        font-size: 25px;
    }

    .kosma-second-slider {
        padding-left: 36px !important;
        padding-right: 36px !important;
        padding-bottom: 36px !important;
    }

    #main-logo.navbar-header {
        display: inline-block;
        left: 50%;
        margin-left: -93px;
    }

    .wc-credit-card-form {
        width: 95%;
        border: none;
    }

    .kosma-logo-footer {
        position: relative;
        top: -752px;
        width: 10%;
    }

    .text-color-xsdn-color:first-child {
        padding-top: 0 !important;
    }

    .text-color-xsdn-color:not(:first-child) {
        padding-top: 0.5em;
    }

    .uncell .boomapps_vccolumn .no-block-padding {
        padding-top: 2.5em;
    }

    .menu-container .logo-container {
        position: relative;
        padding: 4px 36px 4px 36px !important;
        padding-top: 4px;
        padding-right: 36px;
        padding-bottom: 4px;
        padding-left: 36px;
    }
    .kosma-kommunity .row .uncell {
        display: block!important;
    }
    .kosma-homepage-right-section > div:before {
        display: none;
    }
    .kosma_button{
        width:100%!important;
        font-size: 8pt!important;
    }
    .wc-proceed-to-checkout a.checkout-button{
        width: 100%!important;
    }
    .kosma-item-social .uncont{
        text-align: center!important;
    }
    .kosma-footer-item{
        padding-left: 0px!important;
    }
    .kosma-menu-group a{
        padding: 0px!important;
        margin: 1px 42px!important;
    }
    .kosma-cart{
        position: absolute;top: 10px;font-size: 18pt;
        left: 20px;
        display: block;
    }
    .kosma-cart .badge{
        display: block;
        width: 1.75em;
        height: 1.75em;
        position: absolute;
        color: #fff;
        line-height: 1.9em;
        top: -2px;
        right: -9px;
        border-radius: 100%;
        background-clip: padding-box;
        text-align: center !important;
        letter-spacing: 0.5px;
        font-size: 9px;
        background-color: #0cb4ce;
    }
    .enflag:before{
        margin-left: 34px;
    }
    .vnflag:before{
        margin-left: 34px;
    }
    .main-container .row-inner > div:not([class*=col-md]) {
        padding: 16px 0px 0px 0px!important;
    }
    .mobile-menu-button-light .lines, .mobile-menu-button-light .lines:before, .mobile-menu-button-light .lines:after {
        background: #000000 !important;
    }
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li > a {
        color: #000000 !important;
    }
}

@media (min-width: 961px) and (max-width: 1024px) {

    .kosma-slide-big-heading span {
        font-size: 2.7vw;
    }

    .kosma-slide-small-heading span {
        font-size: 1.7vw;
    }

    .kosma-splash {
        margin-top: -562px;
        padding-bottom: 314px;
    }

    .kosma-splash .uncode-single-media {
        left: 50%;
        margin-left: -33px;
    }

    .wc-credit-card-form {
        width: 95%;
        border: none;
    }

    .wc-credit-card-form-card-cvc {
        width: 7vw !important;
        float: right;
        margin-right: 0px !important;
    }

    .wc-credit-card-form-card-expiry {
        width: 31vw !important;
    }

    .kosma-logo-footer {
        position: relative;
        top: -660px;
        width: 10%;
    }

    .kosma-item-about {
        padding-left: 0px !important;
        text-align: left;
    }
    .kosma-item-about span{
        text-align: left;
    }

    .kosma-item-faq {
        padding-left: 0px!important;
    }
    .kosma-item-faq span{
        text-align: left;
    }

    .kosma-item-careers {
        padding-left: 1em;
    }

    .kosma-homepage-right-section > div:before {
        display: none;
    }
    #wpcf7-f49211-o1 > form {
        margin-bottom: 4em;
    }

    #wpcf7-f49211-o1 > form > p > span > input {
        border-bottom: 1px solid;
        border-left: none;
        border-right: none;
        border-top: none;
        background: black;
        text-align: center;
    }
    .kosma-footer h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]){
        font-size: 10px !important;
    }
    .kosma-footer .icon-box-icon img{
        height: 12px!important;
        width: auto;
    }
    .kosma-item-social .style-light .uncont{
        margin: 0px!important;
        float: right;
    }
    .kosma-item-social {
        padding: 0px 0px 0px 15px !important;
    }
    .enflag:before{
        margin-left: 34px;
    }
    .vnflag:before{
        margin-left: 34px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .kosma-slide-big-heading span {
        font-size: 2.7vw;
    }

    .kosma-slide-small-heading span {
        font-size: 1.7vw;
    }

    .wc-credit-card-form {
        width: 35vw;
        border: none;
    }

    .wc-credit-card-form-card-cvc {
        width: 6vw !important;
        float: right;
        margin-right: 0px !important;
    }

    .wc-credit-card-form-card-expiry {
        width: 27vw !important;
    }
/*
    .payment_method_stripe {
        width: 45%;
        float: left;
    }*/
/*
    .payment_method_paypal, .payment_method_EG_Onepay_Gateway {
        width: 45%;
        float: right;
        text-align: right !important;
        margin: 0px !important;
    }
*/
    .payment_method_paypal a {
        display: none;
    }

    .place-order input {
        float: right;
    }
/*
    .payment_box {
        top: 12px;
        margin: 0px !important;

    }*/

    .kosma-item-about .style-light {
        padding-left: 0 !important;
    }

    .kosma-item-careers .style-light {
        margin-left: -1em;
    }

    .kosma-item-social .style-light .uncont{
        margin: 0px!important;
        float: right;
    }
    .kosma-item-social {
        padding: 0px 0px 0px 15px !important;
    }
    .kosma-item-faq {
        padding-left: 0em !important;
    }
    .kosma-item-faq span{
        text-align: left;
    }


}

@media (min-width: 1441px) and (max-width: 1600px) {
    .kosma-slide-big-heading span {
        font-size: 2.7vw;
    }

    .kosma-slide-small-heading span {
        font-size: 1.7vw;
    }

    .wc-credit-card-form {
        width: 32vw;
        border: none;
    }

    .wc-credit-card-form-card-cvc {
        width: 6vw !important;
        float: right;
        margin-right: 0px !important;
    }

    .wc-credit-card-form-card-expiry {
        width: 24vw !important;
    }
/*
    .payment_method_stripe {
        width: 45%;
        float: left;
    }*/
/*
    .payment_method_paypal, .payment_method_EG_Onepay_Gateway {
        width: 45%;
        float: right;
        text-align: right !important;
        margin: 0px !important;
    }*/

    .payment_method_paypal a {
        display: none;
    }

    .place-order input {
        float: right;
    }
/*
    .payment_box {
        top: 12px;
        margin: 0px !important;

    }*/

    .kosma-footer-item {
        width: 15%;
    }

    .kosma-item-about {
        padding-left: 0px !important;
    }
    .kosma-item-about span{
        text-align: left;
    }

    .kosma-item-about .style-light {
        padding-left: 0em !important;
    }

    .kosma-item-careers .style-light {
        margin-left: -3em;
    }

    .kosma-item-social .style-light .uncont{
        margin: 0px!important;
        float: right;
    }
}

@media (min-width: 1600px) {
    .kosma-slide-big-heading span {
        font-size: 2.7vw;
    }

    .kosma-slide-small-heading span {
        font-size: 1.7vw;
    }
/*
    .payment_method_stripe {
        width: 45%;
        float: left;
    }
*/
/*    .payment_method_paypal, .payment_method_EG_Onepay_Gateway {
        width: 45%;
        float: right;
        text-align: right !important;
        margin: 0px !important;
    }
*/
    .payment_method_paypal a {
        display: none;
    }

    .place-order input {
        float: right;
    }
/*
    .payment_box {
        top: 12px;
        margin: 0px !important;
    }*/

    .wc-credit-card-form {
        width: 26vw;
        border: none;
    }

    .wc-credit-card-form-card-cvc {
        width: 5vw !important;
        float: right;
        margin-right: 0px !important;
    }

    .wc-credit-card-form-card-expiry {
        width: 19vw !important;
    }

    .kosma-footer-item {
        width: 15%;
    }

    .kosma-item-about {
        padding-left: 0px !important;
    }
    .kosma-item-about span{
        text-align: left;
    }

    .kosma-item-about .style-light {
        padding-left: 0em !important;
    }

    .kosma-item-faq {
        padding-left: 0em !important;
    }
    .kosma-item-faq span{
        text-align: left;
    }

    .kosma-item-careers .style-light {
        margin-left: -1em;
    }

    .kosma-item-social .style-light .uncont{
        margin: 0px!important;
        float: right;
    }
}

@media (min-width: 1920px) {
    .kosma-slide-big-heading span {
        font-size: 2.7vw;
    }

    .kosma-slide-small-heading span {
        font-size: 1.7vw;
    }
/*
    .payment_method_stripe {
        width: 45%;
        float: left;
    }
*/
 /*   .payment_method_paypal, .payment_method_EG_Onepay_Gateway {
        width: 45%;
        float: right;
        text-align: right !important;
        margin: 0px !important;
    }*/

    .payment_method_paypal a {
        display: none;
    }

    .place-order input {
        float: right;
    }
/*
    .payment_box {
        top: 12px;
        margin: 0px !important;
    }*/

    .wc-credit-card-form {
        width: 19vw;
        border: none;
    }

    .wc-credit-card-form-card-cvc {
        width: 5vw !important;
        float: right;
        margin-right: 0px !important;
    }

    .wc-credit-card-form-card-expiry {
        width: 13vw !important;
    }
}

#menu-kosma-top-navigation .menu-item-object-page {
    font-family: Source Sans Pro !important;
}

#menu-kosma-top-navigation .menu-item-object-page  a{
    font-family: Source Sans Pro !important;
}

#menu-kosma-top-navigation .menu-item-object-page > ul > li > a{
    font-family: 'Source Sans Pro', sans-serif; !important;
}


/* hide mailchimp checkbox in footer */
p.mc4wp-checkbox.mc4wp-checkbox-contact-form-7 {
    display: none;
}

/* don't show shadow on mouse over 
    rewriting style from ./themes/uncode/library/css/style.css
*/
:not(.tmb-overlay-showed).tmb .t-entry-visual .t-entry-visual-overlay {
  opacity: 1;
}

.no-gutter .tmb {
    padding-right: 18px;
}


.submenu-light .menu-smart ul a {
  color: #000000;
}
.menu-light .menu-smart a {
  color: #000000;
}
.submenu-light ul.uncode-cart-dropdown a,
.submenu-light ul.uncode-cart-dropdown span {
  color: #000000;
}